body {
    background-color: black;
    max-width: 100%;
    
  }
  
.cls-1 {fill: url(#linear-gradient);}
.cls-2 {fill: url(#linear-gradient-2);}
.cls-3 {fill: url(#linear-gradient-3);}
.cls-4 {fill: url(#linear-gradient-4);}
.cls-5 {fill: url(#linear-gradient-5);}
.cls-6 {fill: url(#linear-gradient-6);}
.cls-7 {fill: url(#linear-gradient-7);}
.cls-8 {fill: url(#linear-gradient-8);}
.cls-9 {fill: url(#linear-gradient-9);}
.cls-10 {fill: url(#linear-gradient-10);}
.cls-11 {fill: url(#linear-gradient-11);}
.cls-12 {fill: url(#linear-gradient-12);}
.cls-13 {fill: url(#linear-gradient-13);}
.cls-14 {fill: url(#linear-gradient-14);}
.cls-15 {fill: url(#linear-gradient-15);}
.cls-16 {fill: url(#linear-gradient-16);}
.cls-17 {fill: url(#linear-gradient-17);}
.cls-18 {fill: url(#linear-gradient-18);}
.cls-19 {fill: url(#linear-gradient-19);}
.cls-20 {fill: url(#linear-gradient-20);}
.cls-21 {fill: url(#linear-gradient-21);}
.cls-22 {fill: url(#linear-gradient-22);}
.cls-23 {fill: url(#linear-gradient-23);}
.cls-24 {fill: url(#linear-gradient-24);}

@keyframes Layer_1 {
    100%{
        stroke-dashoffset: 0;
            }
    }

.cls-8{
    stroke-dasharray: 700;
    stroke-dashoffset:700;
    stroke-width: 10;
    animation: Layer_1 1.0s linear forwards .1s;
    }